.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba($color: #d3d3d3, $alpha: .5);
  display: none;
  transition: background 400ms linear;
  z-index: 2;
}

.myModalContent {
  padding: 25px;
  background: #fff;
  max-width: 80vw;
  max-height: 70vh;
  border: 2px solid #000;
  box-shadow: 0 0 20px #000;
  transition: border 400ms linear,
    box-shadow 350ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myModalScale{
  padding: 10px;
  max-width: 79vw;
  max-height: 69vh;
}