.Category{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44vh;
}
.categoryContainer{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}