.Profile{
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 44vh;
}
.profileContainer{
  width: 90%;
  height: 90%;
  display: flex;
}
.profileLink{
  text-decoration: underline;
  color: #1f7d63;
  margin: 8px 0;
}
.profileLink:hover{
  cursor: pointer;
  text-decoration: none;
}
.profileAside{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.oneLinkContainer{
  display: flex;
}