.reviewsContainer{
 width: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #f7f7f7;
 border-radius: 15px;
 margin: 0 10px;
 margin: 10px 0;
}
.reviewsDiv{
  width: 90%;
  height: 90%;
}
.nameUser{
  font-size: 1.5rem;
  font-weight: 600;
}
.content{
  font-size: 1rem;
}